* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sem serifa;

}

h1 {
    text-align: center;
    color: coral;
    margin-top: 30px;
}

p {
    color: white;
    margin-top: 30px;
    font-size: 24px;
    margin-left: 20px;

}

body {
    background-color: rgb(48, 48, 48);
}

img {
    width: 100%;

}

input {
    display: block;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 20px;
    padding: 2px;
    margin-bottom: 3px;
    margin-top: 5px;

}

textarea {
    display: block;
    padding-left: 20px;
    height: 100px;
    border-radius: 5px;
    border: 1px;
    margin-bottom: 20px;
    width: 352px;
    background: white;
}

form {
    background: white;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button {
    background: coral;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.voltar {
    background: gray;
}

.entraremcontato {
    margin-left: 20px;

}